.App {
  text-align: center;
}

.colorBtn {
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  padding: 1rem 2rem;
  margin: 0 0.5rem;
  background-color: rgb(85, 255, 0);
  border: none;
  border-radius: 1rem;
}


.App-header {
  background-color: #34c2de;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



